@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: url("https://source.unsplash.com/collection/220381/1600x900");
    width: fit-content;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: #f2f2f2;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

h2 {
    margin: 15% 15% 0;
    font-weight: 400;
}

p {
    color: #eee;
    font-weight: 300;
}

input {
    outline: none;
    background: none;
    border: none;
    padding: 5px 20px;
    color: #eee;
    caret-color: #eee;
    text-align: center;
}

::placeholder {
    color: #eee;
}

button {
    background: transparent;
    border: none;
}

.footer {
    color: #eee;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.205);
    width: 100%;
}

.clock {
    margin: 0;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 5px;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 1.2rem;
    }

    .clock {
        font-size: 4.5rem;
    }
}